body {
  background-color: #000;
  color: #fff;
  text-align: right;
}

.clock {
  font-size: 60px;
  .meridian {
    vertical-align: top;
    font-size: 32px;
    margin-top: 2px;
    text-transform: uppercase;;
  }
}

.date {
  font-size: 26px;
}
