@import 'font.less';

@large: 60px;
body {
  background-color: #000;
  color: #fff;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
}

.clock {
  font-size: @large;
  .meridian {
    font-size: 32px;
    margin-top: 2px;
    text-transform: uppercase;;
  }
}

.date {
  font-size: 26px;
}

.weather {
  font-size: @large;

  .temperature {
    margin-left: 10px;
    .super {
      font-size: 32px;
      vertical-align: top;
    }
  }
}
