@large: 60px;
body {
  background-color: #000;
  color: #fff;
  text-align: right;
}

.clock {
  font-size: @large;
  .meridian {
    vertical-align: top;
    font-size: 32px;
    margin-top: 2px;
    text-transform: uppercase;;
  }
}

.date {
  font-size: 26px;
}

.weather {
  font-size: @large;

  .temperature {
    &:first-child {
      margin-right: 10px;
    }
    .super {
      font-size: 32px;
      vertical-align: top;
    }
  }
}
